* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.about  ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin-left: 70px;
}

.socials ul {
    display: flex;
    list-style: none;
    gap: 48px;
}
.logo {
    font-size: 28px;
    font-family: 'Roboto' ,sans-serif;
    font-weight: bold;
}
.about {
    font-family: "Kanit", serif;
    font-weight: 600;

}
.socials ul li img{
    height: 25px;
}

main header h1, h2, h3{
 display: flex;
 justify-content: center;
}
header h2 {
    margin-top: 5px;
    font-family: 'Kanit', serif;
    font-weight: 300;
}
header {
    margin-top: 20px;
}

header h1 {
    font-family: 'Kanit', serif;
    font-size: 46px;
    font-weight: 300;
}
.about  ul li {
    cursor: pointer;
}
.socials ul li {
    cursor: pointer;
}
.tableandEntry{
    display: flex;
    margin-top: 20vh;
}

.left {
    background-color: #D9D9D9;
    width: 60vw;
    height: 46vh;
    display: flex;
    justify-content: center;   
    vertical-align: center;
}
.right {
    background-color: #585555;  
    width: 40vw;
    height: 46vh;
    justify-content: center;
}

table {
    border-collapse: collapse;
    height: 30vh;
    width: 40vw;
    margin-top: 45px;
    table-layout: fixed;
    background-color: #ABA7C8;
    color: white;
}   

th, td {
border: 2px solid white;
width: 40px;
height: 40px;
padding: 5px;
text-align: center;
vertical-align: middle;
}

.right {
    text-align: center;
    color: white;
}
.header {
    margin-top: 10px;
    margin-bottom: 50px;
}
#email{
    background-color: #D9D9D9;
    border: none;
    height: 25px;
    border-radius: 12px;
    padding-left: 7px;
}
#password {
    background-color: #D9D9D9;
    border: none;
    height: 25px;
    border-radius: 12px;
    padding-left: 7px;
}

.add-button {
    height: 28px;
    width: 70px;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 90px;
    border: none;
    background-color: #D9D9D9;
    color: black;
}
.f-mail {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.f-password {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.copy-button {
    height: 10px;
    margin-left: 5px;
}
.delete-button {
    height: 25px;
    width: 60px;
    border-radius: 6px;
    border: none;
    background-color: #585555;
    color: white;
}
.nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}